# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/out/
.idea/artifacts/OfflinePlayers.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
testing_script.sh
.gitignore
.idea/
libs/